footer{
    background-color: $color-footer;
    font-family: $fuente-principal;
    font-size: small;
    font-weight: bold;
}

.contact{
    height: 50px;
    width: 50px;
    padding: 5px;
}

.help{
    text-align: right;
    &-foto{
        height: 100px;
        width: 50px;
        margin: 1rem;
}

}