header{
    background-color: $color-secundario;
    font-family: $fuente-principal;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    text-align: right;
    text-decoration: none;
}   