nav{
    background-color: $color-secundario;

}   

.cointainer-fluid{
    font-family: $fuente-principal;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    text-decoration: none;
    justify-content: end;

}  
