/* Gama de colores */

$color-principal: rgb(255, 20, 149);
$color-secundario: rgb(1, 157, 151);
$color-texto: rgb(6, 6, 6);
$color-bg: rgba(255, 255, 255, 0.89);
$color-footer: rgb(240, 233, 233);

/* Fuentes */

$fuente-principal: 'Montserrat', sans-serif;
$fuente-secundaria: 'Poppins', sans-serif;

/* Tamaños */


