@import 'variables';
@import 'header';
@import 'footer';

*{
    margin: 0;
    padding: 0;
}

@mixin mixFlexbox ($direction , $align) {
    flex-direction: $direction;
    text-align: $align;
}

.about-us{
    display: flex;
    flex-direction: column;
    justify-content: center;

} 

.col-lg-6.col-md-6.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

#intro{
    font-family: $fuente-secundaria;
    font-weight: bold;
    color: $color-principal;
    width: 100%;
    text-align: right;
}

.conocenos{
    top: 19.5rem;
    background-color: $color-secundario;
    width: 7rem;
    padding: 0.3rem;
    transition: 0.5s;
}

.mixTextoPrincipal{
    font-family: $fuente-principal;
    color: $color-secundario;
}

#title{
    font-size: xx-large;
    font-weight: bold;
    padding: 1rem;
    margin: 2rem;
    text-align: center;    
    @extend .mixTextoPrincipal
}

.col-lg-4.col-md-12{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 2rem;

}

.descripcion{
    font-family: $fuente-secundaria;
    color: $color-texto;
    width: 100%;
    text-align: center;
}   

.col-lg-6.col-md-6{
    display: flex;
    flex-direction: row;

} 

.text-client{
    font-family: $fuente-secundaria;
    font-weight: bold;
    color: $color-principal;
    width: 100%;
    text-align: left;
    
}

p{
    font-family: $fuente-secundaria;
    color: $color-texto;
    font-size: medium; 
}

.nuestra-historia{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.carousel-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-secundario;
}

h5{
    font-family: $fuente-principal;
    color: $color-texto;
}

#servicios-detalle{
    background-image: url(../img/hombre-brainstorming.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
}

.menu-servicios{    
    justify-content: center;
    align-self: center;
    background-color: $color-bg;
    height: 20rem;
    width: 20rem;
    text-align: center;
    margin-top: 6%;
    margin-bottom: 6%;
    padding: 2%;
    margin: 1rem;

}

.grid__contact{
    display: grid;
    grid-template-areas: "uno tres"
                        "dos tres";
    gap: 10px;
    &-uno{
        grid-area: uno;
        justify-self: left;
        align-self: center;
        font-size: xx-large;
        font-weight: bold;
        padding: 1rem;
        margin: 2rem;
        max-width: 60vw;
        max-height:60vh;
        @extend .mixTextoPrincipal
    }
    &-dos{
        grid-area: dos;
    }
    &-tres{
    grid-area: tres;
    margin: 1rem;
    font-family: $fuente-secundaria;
    color: $color-texto;
    font-size: medium; 
    }

}   


.clientes{    
    display: flex;
    flex-direction: row;
    justify-content: center;

}

/* TABLET */

@media (min-width: 541px) and (max-width: 720px) {

}

/* CELULAR */

@media (min-width: 320px) and (max-width: 540px) {

    .grid__contact{
        display: grid;
        grid-template-areas: "uno"
                            "dos"
                            "tres";
        gap: 10px;
        &-uno{
        grid-area: uno;
        display: flex;
        flex-direction: column;
        justify-self: left;
        align-self: center;
        justify-self: center;
        }
        &-dos{
        grid-area: dos;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-self: center;
        }
        &-tres{
        grid-area: tres;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-self: center;
        }
    }


}